@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Asap);
$font: "din",'Asap',"メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
@mixin box{
  width: 50%;
  @media screen and (max-width: 979px){
    width: 100%;
  }
}
@mixin txt_h3p {
  h3{
    font-size: 1.5em;
    margin: 31px auto 24px;
    text-align: center;
    line-height: 28px;
  }
  p{
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    @media screen and (max-width: 979px){
      padding: 5px;
      width: 75%;
      text-align: left;
    }
  }
}
@mixin txt_style {
  font-family: $font;
  font-weight: normal;
  letter-spacing: 1.7px;
}
@mixin float {
  float: left;
  @media screen and (max-width: 979px){
    float: none;
    width: 100%;
  }
}
$back_sample: #dedede;
.clearfix{
  clear: both;
  overflow: hidden;
}
html{
  font-size: 80%;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}
h3{
  font-weight: normal;
}
ul{
  list-style: none;
}
a{
  color: #4b4b4b;
  text-decoration: none;
  border: none;
}
a:hover{
  color: #999;
  border: none;
}
a:active{
  border: none;
}
header{
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
    margin: 0;
  }
}
nav{
  #menu_icn{
    position: fixed;
    top: 16px;
    right: 16px;
    img{
      width: 48px;
      height: 48px;
    }
  }
  ul#menu{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 18px;
    width: 13em;
    height: auto;
    background-color: rgba(255,255,255,0.7);
    padding-top: 0.8em;
    margin: 16px auto;
    z-index: 10;
    li{
      @include txt_style;
      font-size: 1.1em;
      height: 1.8em;
      padding-left: 10px;
      a{
        display: block;
      }
      img{
        width: 31px;
        height: 31px;
      }
    }
    li#menu_close{
      text-align: right;
      padding-right: 15px;
    }
    li:last-child{
      padding-bottom: 25px;
    }
  }
}
article{
  margin: 0;
}
section#concept{
  .l_box{
    @include box;
    @include txt_style;
    @include float;
    @include txt_h3p;
    margin-top: 10%;
  }
  .r_box{
    @include box;
    @include txt_style;
    float: right;
    img{
      display: block;
      width: 85%;
      margin: 48px auto auto;
    }
  }
  img{
    width: 100%;
    max-height: 600px;
    margin: 0;
  }
}
section#story{
  @include txt_h3p;
  @include txt_style;
  .art_box{
    margin: 60px auto 120px;
    width: 70%;
    @media screen and (max-width: 979px){
      width: 100%;
    }
    height: auto;
    img{
      width:100%;
      margin: 0;
    }
  }
}
section#product{
  @include txt_h3p;
  @include txt_style;
  overflow: hidden;
  h3{
    margin-top: 48px;
  }
  a{
    display: block;
    margin: 24px auto 60px;
    text-align: center;
  }
  ul.slider{
    width: 100%;
    height: auto;
    padding: 0;
    img{
      width: 100%;
      max-height: 600px;
    }
  }
  #lineup{
    margin: 0 auto 60px;
    width: 80%;
    @media screen and (max-width: 979px){
      width: 100%;
    }
    .goods{
      width: 48%;
      @include float;
      border: 1px solid #fff;
      a{
        margin: 0;
        display: block;
      }
      img{
        width: 100%;
      }
    }
  }
}
address{
  margin: 20px 0 0;
  padding: 40px 0 10px;
  background-color: #F4F4F4;
  h3{
    text-align: center;
    @include txt_style;
  }
  .txt{
    width: 60%;
    margin: 30px auto;
    .prof_txt{
      width: 50%;
      text-align: center;
      margin: 0;
      text-align: center;
      @include txt_style;
      }
    }
  #sns{
    width: 50%;
    margin: 30px auto;
    clear: both;
    ul{
      height: 50px;
      width: 100%;
      margin: 0 0 30px;
      padding: 0;
      li{
        width: 33%;
        text-align: center;
        float: left;
        }
      }
    }
  }
  footer{
    margin: 0;
    height: 2em;
    background-color: #000;
    padding-top: 1em;
    p{
      text-align: center;
      @include txt_style;
      font-size: 9px;
      color: #fff;
      margin: 0
    }
  }
